<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.martinsgms.relatorioacessivel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelatorioAcessivel"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.activity.ui.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomeActivity" />
        <activity
            android:name=".ui.activity.RelatorioActivity"
            android:label="Meu diário" />
        <activity
            android:name=".ui.activity.DetalheExameActivity"
            android:label="Detalhes do seu exame" />
        <activity
            android:name=".ui.activity.NovaAtividadeActivity"
            android:label="Nova atividade" />
        <activity
            android:name=".ui.activity.MeusExamesActivity"
            android:label="Meus exames" />
        <activity
            android:name=".ui.activity.MeusDadosActivity"
            android:label="Meus dados" />
        <activity
            android:name=".ui.activity.BuscarServicosSaudeActivity"
            android:label="Buscar Serviços de Saúde" />
        <activity
            android:name=".ui.activity.AtualizarSenhaActivity"
            android:label="Atualizar senha" />
        <activity
            android:name=".ui.activity.CadastroActivity"
            android:label="Cadastre-se" />
    </application>

</manifest>